<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.paypal.paypalretailsdk"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_receipt_options"
            android:name=".ui.receipt.ReceiptOptionsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.SDK.Base"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:label="@string/title_activity_receipt_options"
            android:name=".ui.receipt.ReceiptSendToActivity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.SDK.Base"/>
        <activity
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"
            android:exported="true"
            android:label="@string/app_name"
            android:name=".ui.signature.SignatureActivity"
            android:theme="@style/Theme.SDK.Base" />
        <activity
            android:name=".ui.dialogs.SDKDialogActivity"
            android:theme="@style/Theme.SDK.Dialog.Transparent"
            android:noHistory="true"
            android:configChanges="keyboardHidden|orientation|screenSize|screenLayout"/>
    </application>
</manifest>
