<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RetailSDKToken" value="live:WyJBMDE1T3BlMDJobWRhQ0U5RXpSSi1qLS5vMzYuZzg1UVNnMy1sSEkwMXh3QTNRNCIsIjI4ODAwIiwiaHR0cDovL3BwaC1yZXRhaWwtc2RrLXNhbXBsZS5oZXJva3VhcHAuY29tL3JlZnJlc2g/JnRva2VuPWclMkI0Y0dRVk5uOWhGbExJJTJGV0FrU2lkVUpxeXpiaFhlblRlNkFTNVh5YjF6cmxLbzFzNlhYQkFLOFRIRHpQenEySmFya1ZIM2x1T0xCdDJQbXNqcFNtVFBXeW5HZ21UejRnbGVPd0klMkJmTzYzbHBrWXlQS21LTUxsTThvSzdhVyUyRnlVZkdOMW8xT0F0VnhjUjFWV09uRjZrb1g3M2NaWVhVUDR3OEo5cEV5T3hVM3Q5d1g2ejdaMnM1aXdWZHJVb0pUJTJCVUoyOFJzTW9vWk8wJTJGb0xIZGdwemElMkJmNkR2Q09SQ0RUdFc3eWF5clpjRzVLRkRuZWIzNTRrczUlMkZCNWRMU0ZCUmg3VXBnJTNEJTNEIl0"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ClearScript" publicKeyToken="935d0c957da47c73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.4.2.1" newVersion="5.4.2.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>