<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT</key>
	<dict>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>*</string>
		</dict>
		<key>CountryCode</key>
		<string></string>
		<key>LeadingZeroSupport</key>
		<false/>
	</dict>
	<key>JP</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<true/>
		<key>CountryCode</key>
		<string>81</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>###-####-*</string>
			<key>JP_LOCAL_SHORT</key>
			<string>#-####-*</string>
			<key>JP_LOCAL_LONG</key>
			<string>####-####-*</string>
			<key>JP_MOBILE</key>
			<string>##-####-*</string>
			<key>JP_SPECIAL</key>
			<string>###-*</string>
		</dict>
		<key>Conditions</key>
		<dict>
			<key>3</key>
			<string>JP_LOCAL_SHORT</string>
			<key>6</key>
			<string>JP_LOCAL_SHORT</string>
			<key>11</key>
			<string>JP_MOBILE</string>
			<key>22</key>
			<string>JP_MOBILE</string>
			<key>23</key>
			<string>JP_MOBILE</string>
			<key>25</key>
			<string>JP_MOBILE</string>
			<key>26</key>
			<string>JP_MOBILE</string>
			<key>28</key>
			<string>JP_MOBILE</string>
			<key>29</key>
			<string>JP_MOBILE</string>
			<key>42</key>
			<string>JP_MOBILE</string>
			<key>43</key>
			<string>JP_MOBILE</string>
			<key>44</key>
			<string>JP_MOBILE</string>
			<key>45</key>
			<string>JP_MOBILE</string>
			<key>48</key>
			<string>JP_MOBILE</string>
			<key>52</key>
			<string>JP_MOBILE</string>
			<key>53</key>
			<string>JP_MOBILE</string>
			<key>54</key>
			<string>JP_MOBILE</string>
			<key>59</key>
			<string>JP_MOBILE</string>
			<key>57</key>
			<string>JP_SPECIAL</string>
			<key>75</key>
			<string>JP_MOBILE</string>
			<key>76</key>
			<string>JP_MOBILE</string>
			<key>78</key>
			<string>JP_MOBILE</string>
			<key>82</key>
			<string>JP_MOBILE</string>
			<key>86</key>
			<string>JP_MOBILE</string>
			<key>87</key>
			<string>JP_MOBILE</string>
			<key>88</key>
			<string>JP_MOBILE</string>
			<key>89</key>
			<string>JP_MOBILE</string>
			<key>92</key>
			<string>JP_MOBILE</string>
			<key>93</key>
			<string>JP_MOBILE</string>
			<key>95</key>
			<string>JP_MOBILE</string>
			<key>96</key>
			<string>JP_MOBILE</string>
			<key>98</key>
			<string>JP_MOBILE</string>
			<key>99</key>
			<string>JP_MOBILE</string>
			<key>1242</key>
			<string>JP_LOCAL_LONG</string>
			<key>7617</key>
			<string>JP_LOCAL_LONG</string>
			<key>20</key>
			<string>JP_MOBILE</string>
			<key>30</key>
			<string>JP_MOBILE</string>
			<key>40</key>
			<string>JP_MOBILE</string>
			<key>50</key>
			<string>JP_MOBILE</string>
			<key>60</key>
			<string>JP_MOBILE</string>
			<key>70</key>
			<string>JP_MOBILE</string>
			<key>80</key>
			<string>JP_MOBILE</string>
			<key>90</key>
			<string>JP_MOBILE</string>
		</dict>
	</dict>
	<key>US</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<false/>
		<key>CountryCode</key>
		<string>1</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>(###) ###-*</string>
		</dict>
	</dict>
	<key>AU</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<false/>
		<key>CountryCode</key>
		<string>61</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>#### ### *</string>
		</dict>
	</dict>
	<key>HK</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<false/>
		<key>CountryCode</key>
		<string>852</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>####-*</string>
		</dict>
	</dict>
	<key>CA</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<false/>
		<key>CountryCode</key>
		<string>1</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>(###) ###-*</string>
		</dict>
	</dict>
	<key>GB</key>
	<dict>
		<key>LeadingZeroSupport</key>
		<false/>
		<key>CountryCode</key>
		<string>44</string>
		<key>Formats</key>
		<dict>
			<key>DEFAULT</key>
			<string>#*</string>
		</dict>
	</dict>
</dict>
</plist>
