<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.paypal.retailsdktestapp"
          android:versionCode="12"
          android:versionName="1.0">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--
        Note: Update this in build.gradle
        versionCode- This is the build number. Increment for every Crashlytics release
        versionName- Use this for any major changes
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TransactionActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".login.LoginScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".login.OAuthLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".login.StageSelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="73ee029f854e3d127150ac339406079809f96561"/>

        <activity
            android:name=".AuthActivity_"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name">
        </activity>
    </application>

</manifest>