<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="52356705-8b60-4c7f-a75f-f8c7516401fb" Publisher="CN=max" Version="1.0.0.0" />
  <Properties>
    <DisplayName>RetailSDKTestApp.WinRT.Windows</DisplayName>
    <PublisherDisplayName>max</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="RetailSDKTestApp.WinRT.Windows.App">
      <m2:VisualElements DisplayName="RetailSDKTestApp.WinRT.Windows" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="RetailSDKTestApp.WinRT.Windows" ForegroundText="light" BackgroundColor="#464646">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="pointOfService" />
    <m2:DeviceCapability Name="bluetooth.rfcomm">
      <m2:Device Id="any">
        <m2:Function Type="name:serialPort" />
      </m2:Device>
    </m2:DeviceCapability>
    <m2:DeviceCapability Name="serial">
      <m2:Device Id="vidpid:0525 A4A7">
        <m2:Function Type="name:any" />
      </m2:Device>
      <m2:Device Id="vidpid:0525 A4A5">
        <m2:Function Type="name:any" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>