/*
  COLORS

  TODO these are named poorly - they should reflect purpose not color
 */
/*
  FONT
*/
/*
 POSITION AND SIZE
*/
/*
 ALIGNMENT HELPERS
*/
/*
 TEXT FIELD HELPERS
*/
/*
 LABEL HELPERS
*/
.vc {
  background-color: white; }

.debugView {
  background-color: #0066cc;
  border: 1px solid black;
  width: 100%;
  height: 50px; }

.fullscreen {
  width: 100%;
  height: 100%; }

/* Stuff for all tables */
UITableView {
  background-color: clear; }

.button, .buttonPrimary, .buttonSecondary, .buttonDestructive {
  border-radius: 2px;
  color: white;
  font: 18 "HelveticaNeue";
  -ios-line-break-mode: tail-truncate; }

.buttonPrimary {
  background-color: #0099ff; }

.buttonPrimary:highlighted {
  background-color: #0066cc; }

.buttonSecondary {
  background-color: #97aabd; }

.buttonSecondary:highlighted {
  background-color: #6e7c8a; }

.buttonDestructive {
  background-color: #e51717; }

.buttonDestructive:highlighted {
  background-color: #ff0088; }

.table-spacer {
  top: 2px;
  height: 12px; }

