#ppRetailAlert * {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
#ppRetailAlert {
    max-width: 85%;
    border-radius: 15px;
    border: 1px solid #d3d3d3;
}
#ppRetailAlert h1 {
    margin: 15px;
    font-size: 30pt;
}
#ppRetailAlert .ppActivity {
    margin: 16px;
}
#ppRetailAlert div.ppMessage {
    margin-bottom: 20px;
    font-size: 15pt;
}
#ppRetailAlert div.ppImgContainer {
    margin: 30px;
    object-fit: contain;
}
#ppRetailAlert div.ppImgContainer img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#ppRetailAlert button {
    background-color: #6E7C8A;
    font-size: 20px;
    color: #fff;
    border: none;
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    box-sizing: border-box;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}

#ppRetailAlert .ppCancel {
    background-color: #0078e7;
}

#ppRetailAlert>* {
    text-align: center;
}