#alert {
  width: 288px;
  -mobile-halign: center;
  -mobile-valign: middle;
  background-color: white;
  border-radius: 6px; }

.label {
  right: 15px;
  left: 15px;
  height: auto;
  -ios-line-break-mode: wrap;
  -ios-number-of-lines: 0;
  text-align: center;
  color: #3d5266; }

#topSpacerView {
  -mobile-below: \prev;
  height: 0px;
  background-color: clear; }

#titleLabel {
  -mobile-below: \prev 18px;
  background-color: clear;
  font: 35 "HelveticaNeue"; }

#spinner {
  -ios-activity-indicator-style: gray;
  left: 50%;
  -mobile-below: \prev 18px; }

#messageLabel {
  -mobile-below: \prev 18px;
  background-color: clear;
  font: 18 "HelveticaNeue"; }

#spacerView {
  -mobile-below: \prev;
  height: 17px;
  background-color: clear; }

.buttonAlert {
  left: 16px;
  right: 16px;
  height: 44px;
  -mobile-below: \prev 9px; }

.textFieldContainer {
  -mobile-below: messageLabel 10px;
  -mobile-halign: center;
  border: 1px solid pph-lightgrey;
  height: 40px;
  width: 90%;
  background-color: white; }

.textField {
  -mobile-halign: center;
  height: 100%;
  width: 90%; }

