.gradle
local.properties
.idea/**
.DS_Store
build
captures
*.iml
testapp/src/main/res/raw/testtoken.txt
sdk/src/main/java/com/paypal/paypalretailsdk/Country.java
sdk/src/main/java/com/paypal/paypalretailsdk/Countries.java
sdk/src/main/java/com/paypal/paypalretailsdk/Invoice*.java
sdk/src/main/java/com/paypal/paypalretailsdk/Merchant.java
sdk/src/main/java/com/paypal/paypalretailsdk/TransactionContext.java
sdk/src/main/java/com/paypal/paypalretailsdk/PaymentDevice.java
sdk/src/main/java/com/paypal/paypalretailsdk/Card.java
sdk/src/main/java/com/paypal/paypalretailsdk/MagneticCard.java
sdk/src/main/java/com/paypal/paypalretailsdk/TransactionRecord.java
sdk/src/main/java/com/paypal/paypalretailsdk/Payer.java
sdk/src/main/java/com/paypal/paypalretailsdk/SDK.java
sdk/src/main/java/com/paypal/paypalretailsdk/DeviceUpdate.java
sdk/src/main/java/com/paypal/paypalretailsdk/AccountSummary.java
sdk/src/main/java/com/paypal/paypalretailsdk/AccountSummarySection.java
sdk/src/main/java/com/paypal/paypalretailsdk/InvoicingService.java
sdk/src/main/java/com/paypal/paypalretailsdk/PayPalError.java
sdk/src/main/java/com/paypal/paypalretailsdk/BatteryInfo.java
sdk/src/main/java/com/paypal/paypalretailsdk/batteryStatus.java
sdk/src/main/java/com/paypal/paypalretailsdk/SignatureReceiver.java
sdk/src/main/java/com/paypal/paypalretailsdk/ManuallyEnteredCard.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptEmailEntryViewContent.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptOptionsViewContent.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptSMSEntryViewContent.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptViewContent.java
sdk/src/main/java/com/paypal/paypalretailsdk/PayPalErrorInfo.java
sdk/src/main/java/com/paypal/paypalretailsdk/model.json
sdk/src/main/java/com/paypal/paypalretailsdk/CardIssuer.java
sdk/src/main/java/com/paypal/paypalretailsdk/CardStatus.java
sdk/src/main/java/com/paypal/paypalretailsdk/FormFactor.java
sdk/src/main/java/com/paypal/paypalretailsdk/TransactionType.java
sdk/src/main/java/com/paypal/paypalretailsdk/NumericEntryType.java
sdk/src/main/java/com/paypal/paypalretailsdk/NetworkRequest.java
sdk/src/main/java/com/paypal/paypalretailsdk/NetworkResponse.java
sdk/src/main/java/com/paypal/paypalretailsdk/Page.java
sdk/src/main/java/com/paypal/paypalretailsdk/DeviceManager.java
sdk/src/main/java/com/paypal/paypalretailsdk/readerConnectionType.java
sdk/src/main/java/com/paypal/paypalretailsdk/readerType.java
sdk/src/main/java/com/paypal/paypalretailsdk/TokenExpirationHandler.java
sdk/src/main/java/com/paypal/paypalretailsdk/TransactionBeginOptions.java
sdk/src/main/java/com/paypal/paypalretailsdk/RetailInvoice.java
sdk/src/main/java/com/paypal/paypalretailsdk/RetailInvoicePayment.java
sdk/src/main/java/com/paypal/paypalretailsdk/CardInsertedHandler.java
sdk/src/main/java/com/paypal/paypalretailsdk/DeviceStatus.java
sdk/src/main/java/com/paypal/paypalretailsdk/paymentState.java
sdk/src/main/java/com/paypal/paypalretailsdk/tippingState.java
sdk/src/main/java/com/paypal/paypalretailsdk/logLevel.java
sdk/src/main/java/com/paypal/paypalretailsdk/deviceCapabilityType.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptDestinationType.java
sdk/src/main/java/com/paypal/paypalretailsdk/ReceiptDestination.java
sdk/src/main/java/com/paypal/paypalretailsdk/AuthorizedTransaction.java
sdk/src/main/java/com/paypal/paypalretailsdk/CaptureResponse.java
sdk/src/main/java/com/paypal/paypalretailsdk/RetrieveAuthorizedTransactionResponse.java
sdk/src/main/java/com/paypal/paypalretailsdk/AuthStatus.java
