# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
*.xccheckout
Common/generated/*
Common/Tests/TestTokens.h
Common/AllPlatforms

iOS/scripts/Debug/**
iOS/scripts/Release/**

Xamarin/**/bin/**
Xamarin/**/obj/**
Xamarin/**/ApiDefinition.cs
Xamarin/**/StructsAndEnums.cs
Xamarin/Xamarin.userprefs

# Files genreated by CocoaPods
**/RetailSDKTestApp.xcworkspace/
**/Pods/
**/Podfile.lock