<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="ClearScript" publicKeyToken="935d0c957da47c73" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-5.4.2.1" newVersion="5.4.2.1" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>