<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net45" />
  <package id="ClearScript.V8" version="5.4.6" targetFramework="net45" />
  <package id="hidlibrary" version="3.2.31.0" targetFramework="net45" />
  <package id="NLog" version="4.2.0" targetFramework="net45" />
</packages>