{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "no-param-reassign": [
      2,
      {
        "props": false
      }
    ],
    "no-underscore-dangle": [0],
    "class-methods-use-this": [0],
    "no-bitwise": [0],
    "max-len": [
      2,
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-plusplus": [
      2,
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "no-restricted-syntax": [
      "error",
      "LabeledStatement",
      "WithStatement"
    ],
	"linebreak-style": [0]
  }
}