[submodule "platform/objc/Illuminator"]
	path = platform/objc/Illuminator
	url = https://github.com/paypal/Illuminator.git
[submodule "platform/win/HidLibrary"]
	path = platform/win/HidLibrary
	url = https://github.com/djMax/HidLibrary.git
[submodule "platform/win/manticore-win"]
	path = platform/win/manticore-win
	url = git@github.paypal.com:RetailSDK-NewGen/manticore-win.git
[submodule "platform/objc/Common/manticore-objc"]
	path = platform/objc/Common/manticore-objc
	url = git@github.paypal.com:RetailSDK-NewGen/manticore-objc.git
[submodule "platform/android/PayPalRetailSDK/manticore-android"]
	path = platform/android/PayPalRetailSDK/manticore-android
	url = git@github.paypal.com:RetailSDK-NewGen/manticore-android.git
