#variables
{
    -vpadding: 20;
}

#alertView
{
    width: 400px;
    min-height: 200px;
    -mobile-valign: middle;
    -mobile-halign: center;
    border-radius: 15;
    background-color: rgb(235, 242, 250);
    border: 2px solid white;
}

UILabel
{
    -ios-autoresizing: none;
    background-color: clear;
    font-size: 24;
    color: #7a7f8a;
    height: auto;
    width: auto;
    -mobile-halign: center;
}

#title
{
    top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#message
{
    width: 90%;
    -ios-number-of-lines: 0;
    -mobile-relative: #title;
    margin-top: 20px;
    -mobile-content-valign: middle;
    text-align: center;
}

#buttons {
    -mobile-relative: #message;
    margin-top: 20px;
    width: 90%;
    -mobile-halign: center;
}

UIButton
{
    background-image: url("btn/btn_blue_active");
    -mobile-background-stretch: 0 15px 0 15px;
    height: 77px;
    width: 100%;
    font-size: 40;
    font-weight: bold;
    text-shadow: #000000 0px 1px;
    -mobile-relative: .prev;
    margin-top: 20px;
}
