#eventView
{
    width: 400px;
    height: 300px;
    -mobile-valign: middle;
    -mobile-halign: center;
    border-radius: 15;
    background-color: rgba(0,0,0,0.5);
}

UILabel
{
    font-size: 24;
    color: white;
    height: auto;
    width: auto;
}

.readerIn
{
    -mobile-text-key: "Card Reader Inserted";
}

.detecting
{
    -mobile-text-key: "Detecting Device";
}

.removed
{
    -mobile-text-key: "Card Reader Removed";
}