/* Global Styles for PayPal Here SDK Sample App */
.viewController
{
    background-color: url("bg/bg_light");
}

.primaryBtn {
    background-image: url("btn/btn_blue_active");
    -mobile-background-stretch: 0 15px 0 15px;
    height: 77px;
    font-size: 40;
    font-weight: bold;
    text-shadow: #000000 0px 1px;
}

UILabel {
  background-color: clear;
}