#keypad {
    height: 318px;
}

.row {
    width: 100%;
    height: 77px;
    -mobile-relative: .prev;
    margin-top: 3px;
}

UIButton {
    width: 32%;
    -mobile-relative: .prev;
    margin-left: 5px;
    height: 77px;
    background-image: url("btn/btn_blue_active");
    -mobile-background-stretch: 0 15px 0 15px;
}