#variables
{
    -vpadding: 20;
}

#progressView
{
    width: 95%;
    max-width: 400px;
    height: 200px;
    -mobile-valign: middle;
    -mobile-halign: center;
    border-radius: 15;
    background-color: rgb(235, 242, 250);
    border: 2px solid white;
}

UILabel
{
    -ios-autoresizing: none;
    font-size: 24;
    color: #7a7f8a;
    height: auto;
    width: auto;
    -mobile-halign: center;
    text-align: center;
}

#title
{
    top: 20px;
    font-weight: bold;
    font-size: 18px;
}

#spinner
{
    -mobile-halign: center;
    -mobile-relative: #title;
    margin-top: 20px;
    color: #7a7f8a;
}

#message
{
    width: 90%;
    -ios-number-of-lines: 0;
    -mobile-relative: #spinner;
    margin-top: 20px;
    margin-left: auto;
    -mobile-content-valign: middle;
    text-align: center;
}

#cancel
{
    width: 100%;
    text-align: center;
    -mobile-relative: #message;
    margin-top: 10px;
    height: auto;
}