#detail
{
  top: 80px;
  text-align: center;
  font-size: 24px;
  -mobile-halign: center;
  width: -200px;
  height: auto;
  -ios-number-of-lines: 0;
}

@media iphone {
#detail {
  top: 40px;
  font-size: 14px;
  -mobile-halign: center;
  width: -20px;
  height: auto;
  -ios-number-of-lines: 0;
}
#go {
  font-size: 22;
  font-weight: bold;
  padding: 0 40px;
  min-width: 200px;
}
}

#go
{
  -mobile-text-key: "Login to PayPal";
  -mobile-relative: #detail;
  margin-top: 100px;
  margin-left: auto;
  width: auto;
}
